<!DOCTYPE html>
<html>
  <head>
    <title>Color Coded</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body style="padding: 20px;">
    <ul>
      <li><a href="/eventList">View Events</a></li>
      <li><a href="/event">Create Event</a></li>
    </ul>

    <% if (user) { %>
      <a href="/logout">Logout</a>
    <% } %>
  </body>
</html>
